<mat-toolbar style="position: fixed;top: 0;z-index: 999;" class="header-navigation">
    <span>Application Title</span>
    <div style="flex: 1 1 auto;"></div>
    <label style="cursor: pointer;user-select: none;">
        Dark<mat-slide-toggle [(ngModel)]="light_theme" (change)="onChangeTheme()" color="accent">Light
        </mat-slide-toggle>
    </label>
</mat-toolbar>
<div style="padding-top: 80px;background-color: inherit;">
    <div class="container">
        <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start stretch">
            <div fxFlex="50%" fxFlex.md="65%" fxFlex.sm="75%" fxFlex.xs="100%">
                <mat-card>
                    <mat-card-header>
                        <p mat-card-title>Inputs</p>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-form-field style="width: 100%;" color="primary">
                            <mat-label>label</mat-label>
                            <input matInput value="value" required>
                        </mat-form-field>
                        <mat-form-field style="width: 100%;" color="accent">
                            <mat-label>label</mat-label>
                            <input matInput value="value" required>
                        </mat-form-field>
                        <mat-form-field style="width: 48%;" color="primary">
                            <mat-label>label</mat-label>
                            <textarea matInput rows="5"></textarea>
                        </mat-form-field>
                        <mat-form-field style="width: 48%;margin-left: 4%;" color="accent">
                            <mat-label>label</mat-label>
                            <textarea matInput rows="5"></textarea>
                        </mat-form-field>
                        <mat-form-field style="width: 48%;" color="primary">
                            <mat-label>SELECT CONTROL</mat-label>
                            <mat-select>
                                <mat-option value="Option 1">Option 1</mat-option>
                                <mat-option value="Option 2">Option 2</mat-option>
                                <mat-option value="Option 3">Option 3</mat-option>
                                <mat-option value="Option 4">Option 4</mat-option>
                                <mat-option value="Option 5">Option 5</mat-option>
                                <mat-option value="Option 6">Option 6</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field style="width: 48%;margin-left: 4%;" color="accent">
                            <mat-label>SELECT CONTROL</mat-label>
                            <mat-select>
                                <mat-option value="Option 1">Option 1</mat-option>
                                <mat-option value="Option 2">Option 2</mat-option>
                                <mat-option value="Option 3">Option 3</mat-option>
                                <mat-option value="Option 4">Option 4</mat-option>
                                <mat-option value="Option 5">Option 5</mat-option>
                                <mat-option value="Option 6">Option 6</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <section style="display: flex;width: 100%;">
                            <mat-checkbox color="primary">Primary</mat-checkbox>
                            <mat-checkbox color="accent">Accent</mat-checkbox>
                            <mat-checkbox color="warn">Warn</mat-checkbox>
                        </section>
                        <br>
                        <section style="display: flex;width: 100%;">
                            <mat-radio-group [(ngModel)]="radio">
                                <mat-radio-button value="primary" color="primary">Primary</mat-radio-button>
                                <mat-radio-button value="accent" color="accent">Accent</mat-radio-button>
                                <mat-radio-button value="warn" color="warn">Warn</mat-radio-button>
                            </mat-radio-group>
                        </section>
                        <br>
                        <section style="display: flex;width: 100%;">
                            <mat-slide-toggle value="primary" color="primary">Primary</mat-slide-toggle>
                            <mat-slide-toggle value="accent" color="accent">Accent</mat-slide-toggle>
                            <mat-slide-toggle value="warn" color="warn">Warn</mat-slide-toggle>
                        </section>
                        <br>
                        <mat-form-field style="width: 100%;">
                            <mat-label>Chip List Example</mat-label>
                            <mat-chip-list #chipList aria-label="Fruit selection">
                                <mat-chip *ngFor="let fruit of fruits" (removed)="removeChip(fruit)">{{ fruit }}<mat-icon matChipRemove>cancel</mat-icon></mat-chip>
                                <input placeholder="New fruit..."
                                       [matChipInputFor]="chipList"
                                       (matChipInputTokenEnd)="addChip($event)">
                            </mat-chip-list>
                        </mat-form-field>
                        <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start stretch">
                            <div fxFlex="33%">
                                <p>Primary Slider</p>
                                <mat-slider [thumbLabel]="true" class="w-100" min="0" max="5" step="0.5" value="1.5" color="primary"></mat-slider>
                            </div>
                            <div fxFlex="33%">
                                <p>Accent Slider</p>
                                <mat-slider [thumbLabel]="true" class="w-100" min="0" max="5" step="0.5" value="1.5" color="accent"></mat-slider>
                            </div>
                            <div fxFlex="33%">
                                <p>Warn Slider</p>
                                <mat-slider [thumbLabel]="true" class="w-100" min="0" max="5" step="0.5" value="1.5" color="warn"></mat-slider>
                            </div>
                        </div>
                        <div>
                            <p>Button Group</p>
                            <mat-button-toggle-group>
                                <mat-button-toggle value="bold">Bold</mat-button-toggle>
                                <mat-button-toggle value="italic">Italic</mat-button-toggle>
                                <mat-button-toggle value="underline">Underline</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="50%" fxFlex.md="35%" fxFlex.sm="25%" fxFlex.xs="100%">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                            Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                            originally
                            bred for hunting.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card style="margin-top: 16px;">
                    <mat-card-header>
                        <p mat-card-title class="mt-1 mb-0">Menu Example</p>
                        <div style="flex: 1 1 auto;"></div>
                        <button mat-icon-button [matMenuTriggerFor]="appMenu" class="m-0">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </mat-card-header>
                    <mat-menu #appMenu="matMenu">
                        <button mat-menu-item>Settings</button>
                        <button mat-menu-item>Help</button>
                    </mat-menu>
                </mat-card>
            </div>
            <div fxFlex="75%" fxFlex.md="100%">
                <mat-card style="width: 100%;">
                    <mat-card-header>
                        <p mat-card-title>Buttons</p>
                    </mat-card-header>
                    <mat-card-content>
                        <section style="display: flex;width: 100%;padding: 16px 32px;">
                            <div style="align-self: center;width: 150px;">Basic</div>
                            <div class="example-button-row">
                                <button mat-button>Basic</button>
                                <button mat-button color="primary">Primary</button>
                                <button mat-button color="accent">Accent</button>
                                <button mat-button color="warn">Warn</button>
                                <button mat-button disabled>Disabled</button>
                                <a mat-button href="https://www.google.com/" target="_blank">Link</a>
                            </div>
                        </section>
                        <mat-divider></mat-divider>
                        <section style="display: flex;width: 100%;padding: 16px 32px;">
                            <div style="align-self: center;width: 150px;">Raised</div>
                            <div class="example-button-row">
                                <button mat-raised-button>Basic</button>
                                <button mat-raised-button color="primary">Primary</button>
                                <button mat-raised-button color="accent">Accent</button>
                                <button mat-raised-button color="warn">Warn</button>
                                <button mat-raised-button disabled>Disabled</button>
                                <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
                            </div>
                        </section>
                        <mat-divider></mat-divider>
                        <section style="display: flex;width: 100%;padding: 16px 32px;">
                            <div style="align-self: center;width: 150px;">Stroked</div>
                            <div class="example-button-row">
                                <button mat-stroked-button>Basic</button>
                                <button mat-stroked-button color="primary">Primary</button>
                                <button mat-stroked-button color="accent">Accent</button>
                                <button mat-stroked-button color="warn">Warn</button>
                                <button mat-stroked-button disabled>Disabled</button>
                                <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
                            </div>
                        </section>
                        <mat-divider></mat-divider>
                        <section style="display: flex;width: 100%;padding: 16px 32px;">
                            <div style="align-self: center;width: 150px;">Flat</div>
                            <div class="example-button-row">
                                <button mat-flat-button>Basic</button>
                                <button mat-flat-button color="primary"><mat-spinner color="accent"></mat-spinner> Primary</button>
                                <button mat-flat-button color="accent"><mat-spinner color="primary"></mat-spinner> Accent</button>
                                <button mat-flat-button color="warn"><mat-spinner color="primary"></mat-spinner> Warn</button>
                                <button mat-flat-button disabled>Disabled</button>
                                <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
                            </div>
                        </section>
                        <mat-divider></mat-divider>
                        <section style="display: flex;width: 100%;padding: 16px 32px;">
                            <div style="align-self: center;width: 150px;">Icon</div>
                            <div class="example-button-row">
                                <div class="example-flex-container">
                                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                        <mat-icon>home</mat-icon>
                                    </button>
                                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                                        <mat-icon>menu</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                                        <mat-icon>favorite</mat-icon>
                                    </button>
                                    <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
                                        <mat-icon>open_in_new</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </section>
                        <mat-divider></mat-divider>
                        <section style="display: flex;width: 100%;padding: 16px 32px;">
                            <div style="align-self: center;width: 150px;">FAB</div>
                            <div class="example-button-row">
                                <div style="display: flex;">
                                    <div style="display: inline-flex;">
                                        <button mat-fab color="primary"
                                            aria-label="Example icon button with a delete icon">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                    <div style="display: inline-flex;">
                                        <button mat-fab color="accent"
                                            aria-label="Example icon button with a bookmark icon">
                                            <mat-icon>bookmark</mat-icon>
                                        </button>
                                    </div>
                                    <div style="display: inline-flex;">
                                        <button mat-fab color="warn" aria-label="Example icon button with a home icon">
                                            <mat-icon>home</mat-icon>
                                        </button>
                                    </div>
                                    <div style="display: inline-flex;">
                                        <button mat-fab disabled aria-label="Example icon button with a heart icon">
                                            <mat-icon>favorite</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <mat-divider></mat-divider>
                        <section style="display: flex;width: 100%;padding: 16px 32px;">
                            <div style="align-self: center;width: 150px;">Mini FAB</div>
                            <div class="example-button-row">
                                <div style="display: flex;">
                                    <div style="display: inline-flex;">
                                        <button mat-mini-fab color="primary"
                                            aria-label="Example icon button with a menu icon">
                                            <mat-icon>menu</mat-icon>
                                        </button>
                                    </div>
                                    <div style="display: inline-flex;">
                                        <button mat-mini-fab color="accent"
                                            aria-label="Example icon button with a plus one icon">
                                            <mat-icon>plus_one</mat-icon>
                                        </button>
                                    </div>
                                    <div style="display: inline-flex;">
                                        <button mat-mini-fab color="warn"
                                            aria-label="Example icon button with a filter list icon">
                                            <mat-icon>filter_list</mat-icon>
                                        </button>
                                    </div>
                                    <div style="display: inline-flex;">
                                        <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
                                            <mat-icon>home</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="25%" fxFlex.md="50%" fxFlex.xs="100%">
                <mat-card>
                    <mat-list>
                        <mat-list-item><img src="https://material.angular.io/assets/img/examples/shiba2.jpg" matListAvatar > Pepper <span style="flex: 1 1 auto;"></span><a href="#" mat-icon-button color="primary"><mat-icon>edit</mat-icon></a></mat-list-item>
                        <mat-list-item><img src="https://material.angular.io/assets/img/examples/shiba2.jpg" matListAvatar > Salt <span style="flex: 1 1 auto;"></span><a href="#" mat-icon-button color="primary"><mat-icon>edit</mat-icon></a></mat-list-item>
                        <mat-list-item><img src="https://material.angular.io/assets/img/examples/shiba2.jpg" matListAvatar > Paprika <span style="flex: 1 1 auto;"></span><a href="#" mat-icon-button color="primary"><mat-icon>edit</mat-icon></a></mat-list-item>
                        <mat-divider inset></mat-divider>
                        <mat-list-item><img src="https://material.angular.io/assets/img/examples/shiba2.jpg" matListAvatar > Wilson Yu <span style="flex: 1 1 auto;"></span><a href="#" mat-icon-button color="primary"><mat-icon>edit</mat-icon></a></mat-list-item>
                    </mat-list>
                </mat-card>
                <mat-card class="mt-2">
                    <mat-card-content>
                        <div fxLayout="row wrap" fxLayoutGap="16px grid">
                            <div class="align-self-end" fxFlex="33%" fxFlex.sm="100%">
                                <p>Primary Spinner</p>
                                <mat-spinner strokeWidth="2" diameter="50" color="primary"></mat-spinner>
                            </div>
                            <div class="align-self-end" fxFlex="33%" fxFlex.sm="100%">
                                <p>Accent Spinner</p>
                                <mat-spinner strokeWidth="2" diameter="50" color="accent"></mat-spinner>
                            </div>
                            <div class="align-self-end" fxFlex="33%" fxFlex.sm="100%">
                                <p>Warn Spinner</p>
                                <mat-spinner strokeWidth="2" diameter="50" color="warn"></mat-spinner>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card class="mt-2">
                    <mat-card-content>
                        <p class="mt-1">Primary Progress</p>
                        <mat-progress-bar color="primary" mode="query"></mat-progress-bar>
                        <p class="mt-1">Accent Progress</p>
                        <mat-progress-bar color="accent" mode="query"></mat-progress-bar>
                        <p class="mt-1">Warn Progress</p>
                        <mat-progress-bar color="warn" mode="query"></mat-progress-bar>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="100%">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Popups</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <button mat-stroked-button (click)="openBottomSheeet()">Bottom Sheet</button>
                        <button mat-stroked-button (click)="openDialog()">Dialog</button>
                        <button mat-flat-button color="primary" (click)="openSnackbar('success')">Success Alert</button>
                        <button mat-flat-button color="warn" (click)="openSnackbar('error')">Error Alert</button>
                        <button mat-flat-button color="accent" (click)="openSnackbar('info')">Error Alert</button>
                        <button mat-flat-button (click)="openSnackbar('warning')">Warning Alert</button>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="100%">
                <mat-card class="w-100">
                    <div style="max-height: 400px;overflow: auto;">
                        <table mat-table [dataSource]="dataSource" class="w-100">
                    
                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>
                        
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                        
                            <!-- Weight Column -->
                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef> Weight </th>
                                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                            </ng-container>
                        
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-card>
            </div>
            
        </div>
    </div>
</div>